/*stylesheet for my website :)*/
/*BACKUP BEFORE HUGE CHANGES AHHHHHH!!! AHHHHHH !!! AHHHHHH!!!*/
:root {

  --warning-background-color: white;

  --warning-text-color: #880000;

}



#profile {

 position: fixed;

 z-index: 100;

 top: 0; 

 left: 0;

 width: 100vw;

 height: 100vh;

 padding: 50px 100px;

 font-size: 130%;

background-image:url("https://files.catbox.moe/q7f8un.jpg");

 color: var(--warning-text-color);

 overflow-y: scroll;

 opacity: 1;

 transition: .2s;

}



#profile > * {

 width: 100%;

 max-width: 700px!important;

 margin: 20px auto;

 display: block;

}



#profile:target {

 opacity: 0;

 visibility: hidden;

}



#profile > a {

 text-align: center;

 font-weight: bold;

}



#profile > ul {

 padding: 10px 50px;

 border: 2px dashed var(--warning-text-color);

}
@font-face {

    font-family: "Tahoma";
    
    src: url(tahoma.ttf") format("truetype");
    
    
    /*font-style: italic;*/
    
    /*font-weight: bold;*/}
    
                /*user styles*/
    
                /*styles are what change the color and sizes of stuff on your site.*/
    
                /*these are variables that are being used in the code
        these tended to confuse some people, so I only kept 
        the images as variables*/
    
                :root {
                   --header-image: url('https://files.catbox.moe/8vlvqt.jpg');
        
    
                    /* colors */
                    --content: #F0E0D6;
                }
    
                /* if you have the URL of a font, you can set it below */
                /* feel free to delete this if it's not your vibe */
    
                /* this seems like a lot for just one font and I would have to agree 
        but I wanted to include an example of how to include a custom font.
        If you download a font file you can upload it onto your Neocities
        and then link it! Many fonts have separate files for each style
        (bold, italic, etc. T_T) which is why there are so many!*/
    
#moot {
font-family: sans-serif;
font-size: 127%;
color: #000000;
line-height: 1.5em;
direction: ltr;
position: fixed;
z-index: 9001;
top: 0;
right: 0;
}

#marquee {
        font-family: "Tahoma", Tahoma, sans-serif;
        }
        
         #marquee {
            color: #880000;
                }


        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Regular.ttf');
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Bold.ttf');
            font-weight: bold;
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-Italic.ttf');
            font-style: italic;
        }

        @font-face {
            font-family: Nunito;
            src: url('https://sadhost.neocities.org/fonts/Nunito-BoldItalic.ttf');
            font-style: italic;
            font-weight: bold;
        }

        body {
            font-family: 'Arial', sans-serif;
            margin: 0
            background-size: 65px;
            color: #fceaff;
            background-image: url(https://files.catbox.moe/tt5mwd.jpg);
            background-size: cover; background-repeat: no-repeat; 
            /* you can delete the line below if you'd prefer to not use an image */
             background-size: 100%;
        }

        * {
            box-sizing: border-box;
        }

        /* below this line is CSS for the layout */

        /* this is a CSS comment
to uncomment a line of CSS, remove the * and the /
before and after the text */


        /* the "container" is what wraps your entire website */
        /* if you want something (like the header) to be Wider than
the other elements, you will need to move that div outside
of the container */
        #container {
            max-width: 900px;
            /* this is the width of your layout! */
            /* if you change the above value, scroll to the bottom
  and change the media query according to the comment! */
            margin: 0 auto;
            /* this centers the entire page */
        }

        /* the area below is for all links on your page
EXCEPT for the navigation */
        #container a {
            color: #0000ee;
            font-weight: bold;
            /* if you want to remove the underline
  you can add a line below here that says:
  text-decoration:none; */
        }

        #header {
            width: 100%;
            background-color: #000000;
            /* header color here! */
            height: 150px;
            /* this is only for a background image! */
            /* if you want to put images IN the header, 
  you can add them directly to the <div id="header"></div> element! */
            background-image: var(--header-image);
            background-image: url('https://files.catbox.moe/zskd2q.jpg');
            background-repeat:no-repeat;
            background-size: 100%;
          
        }



        /* navigation section!! */
        #navbar {
            height: 40px;
            background-color: #880000;
            background: linear-gradient(#880000, #680101);
            /* navbar color */
            width: 100%;
        }

        #navbar ul {
            display: flex;
            padding: 0;
            margin: 0;
            list-style-type: none;
            justify-content: space-evenly;
        }

        #navbar li {
            padding-top: 10px;
        }
        
        #navbar {
        font-family: "Arial", Arial, sans-serif;
        }

        /* navigation links*/
        #navbar li a {
            color: #ffffff;
            /* navbar text color */
            font-weight: 700;
            text-decoration: none;
            /* this removes the underline */
            
          

        }

        /* navigation link when a link is hovered over */
        #navbar li a:hover {
            color: #ffffff;
            text-decoration: underline;
        }

        #flex {
            display: flex;
        }

        /* this colors BOTH sidebars
if you want to style them separately,
create styles for #leftSidebar and #rightSidebar */
        aside {
            background-color: #FFFFFF;
      
            /* color | style | width */
            outline: #800000 solid 3px;
            width: 200px;
            padding: 20px;
            font-size: smaller;
            /* this makes the sidebar text slightly smaller */
        }


        /* this is the color of the main content area,
between the sidebars! */
        main {
          /* color | style | width */
            outline: #800000 solid 3px;
            background-color: #ffffee;
            flex: 1;
            padding: 20px;
            order: 2;
           
            /* color | style | width */
            outline: #800000 solid 3px;
            
        }
        


        /* what's this "order" stuff about??
allow me to explain!
if you're using both sidebars, the "order" value
tells the CSS the order in which to display them.
left sidebar is 1, content is 2, and right sidebar is 3! */

        */ #leftSidebar {
            order: 1;
            width: 200px
            
        }

     
        #rightSidebar {
            order: 3;
            
            width: 200px
        }


footer {
    background-color: #880000;
    background: linear-gradient(#880000, #680101);
    /* background color for footer */
    width: 100%;
    height: 40px;
    padding: 10px;
    text-align: center;
    color: white;
    /* this centers the footer text */
}

h1,
h2,
h3 {
    color: #880000;
}



p,
li{
    color: #800000;
}


h1 {
    font-size: 25px;
}

strong {
    /* this styles bold text */
    color: #880000;
}

/* this is just a cool box, it's the darker colored one */
.box {
    background-color: #fedbb6;
    border: 1px solid #800000;
    padding: 10px;
}

/* CSS for extras */

#marquee {
    width: 100%;
    height: 30px;
    padding: 10px;
    font-size: smaller;
    background-color: #ffccaa;
}


/* BELOW THIS POINT IS MEDIA QUERY */

/* so you wanna change the width of your page? 
by default, the container width is 900px.
in order to keep things responsive, take your new height,
and then subtrack it by 100. use this new number as the 
"max-width" value below
*/

@media only screen and (max-width: 800px) {
    #flex {
        flex-wrap: wrap;
    }

    aside {
        width: 100%;
    }

    /* the order of the items is adjusted here for responsiveness!
since the sidebars would be too small on a mobile device.
feel free to play around with the order!
*/
    main {
        order: 1;
    }

    #leftSidebar {
        order: 2;
    }

    #rightSidebar {
        order: 3;
    }

    #navbar ul {
        flex-wrap: wrap;
    }
}

#mootykins {
border: 5px solid transparent;
border-image: linear-gradient(to bottom right, #800000 0%, #804300 25%, #7d8000 50%, #0e8000 75%, #000380 100%);
border-image-slice: 1;
width: 400px
height:597px
}

::-webkit-scrollbar {
width: 16px
}
 
::-webkit-scrollbar:horizontal {
height: 17px
}
 
::-webkit-scrollbar-corner {
background: #eee
}
 
::-webkit-scrollbar-track:vertical {
background: linear-gradient(90deg, #e5e5e5, #f0f0f0 20%)
}
 
::-webkit-scrollbar-track:horizontal {
background: linear-gradient(180deg, #e5e5e5, #f0f0f0 20%)
}
 
::-webkit-scrollbar-thumb {
border: 1.5px solid #888;
border-radius: 3px;
box-shadow: inset 0 -1px 1px #fff, inset 0 1px 1px #fff;
background-color: #eee;
}
 
::-webkit-scrollbar-thumb:vertical {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAKCAIAAADpZ+PpAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADrSURBVChTTc5LboJQGAXguyoCu4ERCzAGlRk7UOwGWIDh0s4M4kxb06RSq/jAB6AxJkJ4lTDrue3AnvyzP+fLId+/yfM8juP7PQmCCOf7B3e+ZD+O40RRVFW12VQUpd3r9U3T2m4OpKoqWZYNwzBZLEqfh0N7NnvfrPcEWlEUWZb9mWF4Ph6D0ylcLbfM5HkeJrhGA2hb15/QXnv+w7RYXsDatjOdvnmrHSnLEizMNE2v11sUXQBCnn98kbquBUGQJAlmq9WB2e3qg4HJdqKkaRql1HGc0WgMcDJ5dd0F24kediZJ8t/ELT69H+8py0CYSIO5AAAAAElFTkSuQmCC") no-repeat 50%, linear-gradient(90deg, #eee 45%, #ddd 0, #bbb)
}
 
::-webkit-scrollbar-thumb:horizontal {
background: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAJCAYAAAALpr0TAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAAEnQAABJ0Ad5mH3gAAADcSURBVChTNZBLqoUwEEQrURQUxZGCvy24ACfiityJi7tv8GauQoPxk5tquA2RQ9vVVYk6z9NZaxFFEe77htYazjk8z4MwDIVZ+rourOuKaZrwvi+WZcE8z1BKCbPPCjk4DAO2bRP1OI7wLiL6Mbd7J408z1GWpQwWRYGqqiQG+03TgMu0MacfUN4qANmn8UOv9MjW3sKaSm7iIdOSlziOQ3LScd93aPonSYK6riVLlmVo21aYfVqzND9pmqLrOlGT+76XbcxLZkb19/l3fEP+oF0cx8KMEASBsDEGX2/CgZCHkg+8AAAAAElFTkSuQmCC") no-repeat 50%, linear-gradient(180deg, #eee 45%, #ddd 0, #bbb)
}
 
::-webkit-scrollbar-button:horizontal:end:increment,
::-webkit-scrollbar-button:horizontal:start:decrement,
::-webkit-scrollbar-button:vertical:end:increment,
::-webkit-scrollbar-button:vertical:start:decrement {
display: block
}
 
::-webkit-scrollbar-button:vertical {
height: 17px
}
 
::-webkit-scrollbar-button:vertical:start:decrement {
background: white;
background-image: url("https://cdn.discordapp.com/attachments/904308736712138793/1001299199633141851/download.png");
background-repeat: no-repeat;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}
 
::-webkit-scrollbar-button:vertical:start:increment {
display: none;
}
 
::-webkit-scrollbar-button:vertical:end:decrement {
display: none;
}
 
::-webkit-scrollbar-button:vertical:end:increment {
background: white;
background-image: url("https://cdn.discordapp.com/attachments/904308736712138793/1001299200052576387/87ae92e1-3894-4469-b1b9-aedf5f04975c.png");
background-repeat: no-repeat;
background-position: center;
-moz-background-size: cover;
-webkit-background-size: cover;
-o-background-size: cover;
background-size: cover;
}

